<div class="container-fluid  dashboard-content">


  <!-- ============================================================== -->
  <!-- pageheader -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="page-header">
        <h2 class="pageheader-title">MISSIONS</h2>
        <div class="page-breadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/" class="breadcrumb-link">Dashboard</a></li>
              <li class="breadcrumb-item"><a routerLink="/mission" class="breadcrumb-link">Mission</a></li>
              <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- end pageheader -->
  <!-- ============================================================== -->

  <div class="row">
    <!-- ============================================================== -->
    <!-- Form Add  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <h5 class="card-header">Ajouter Mission</h5>
        <div class="card-body">

          <div class="col-4  offset-4" *ngIf="loader">
            <img src="assets/images/loading.gif" style="margin-left: 15%">
          </div>



          <form *ngIf="!loader">




            <div class="form-group">
              <label for="Titre" class="col-form-label" >Titre de Mission :<span class="text-danger">*</span></label>
              <input id="Titre" [(ngModel)]="mission.title" #title="ngModel" name="title"
                     type="text" class="form-control" placeholder="Titre" required=""
                     [ngClass]="{'is-valid': title.touched && !title.errors?.required ,
                                 'is-invalid': title.touched && title.errors?.required}"
              >
              <div class="feedback-error" *ngIf="title.touched && title.errors?.required" >
                Titre est obligatoire.
              </div>
            </div>

            <div class="form-group">
              <label for="desc" class="col-form-label" >Description : <span class="text-danger">*</span></label>
              <textarea id="desc" class="form-control" [(ngModel)]="mission.description"
                        rows="3" required #desc="ngModel" placeholder="Description" name="description"
                        [ngClass]="{'is-valid': desc.touched && desc.value ,
                                 'is-invalid': desc.touched && !desc.value}"
              ></textarea>
              <div class="feedback-error" *ngIf="desc.touched && !desc.value" >
                Description est obligatoire.
              </div>
            </div>

            <div class="form-group">
              <label for="type" class="col-form-label" >Type : <span class="text-danger">*</span></label>
              <select [(ngModel)]="mission.typeMission" id="type" name="typeMission"
                      #typee="ngModel" class="form-control" required=""
                      [ngClass]="{'is-valid': typee.touched && typee.value != null ,
                                 'is-invalid': typee.touched && typee.value == null}"

              >
                <option *ngFor="let typem of type" [value]="typem.v" [label]="typem.label"  ></option>
              </select>
              <div class="feedback-error" *ngIf="!typee.value && typee.touched " >
                Type est obligatoire.
              </div>
            </div>

            <div class="form-group" *ngIf="typee.value != TypeMission.PROTOTYPE">
              <div class="row">
                <div class="col-lg-4 ">
                  <label class="be-checkbox custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" #eimg><span class="custom-control-label">Image</span>
                  </label>
                </div>
                <div class="col-lg-8">
                  <p class="text-left">
                    <label class="btn btn-outline-light btn-sm col-lg-4" *ngIf="eimg.checked" for="img"> <i class="fas fa-camera"> </i> Ajouter Image</label>
                    <input type="file" accept="image/*" style="display: none;" id="img" (change)="loadImage($event)">
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-lg-3 offset-md-3 " *ngIf="file != null">
                <!-- .card -->
                <div class="card card-figure">
                  <!-- .card-figure -->
                  <figure class="figure">
                    <!-- .figure-img -->
                    <div class="figure-attachment">
                      <img src="{{mission.img}}"  alt="Card image cap" class="img-fluid"> </div>
                    <!-- /.figure-img -->

                  </figure>
                  <!-- /.card-figure -->
                </div>
                <!-- /.card -->
              </div>
            </div>

            <div class="form-group" *ngIf="role === 'ADMIN' && typee.value != TypeMission.PROTOTYPE">
              <label for="coach" class="col-form-label" >Coach : <span class="text-danger">*</span></label>
              <select  id="coach" name="coachId"
                       class="form-control" required="" #coa
                       (change)="onCahngeCoach(coa.selectedIndex)"
              >
                <option >selctionnez Coach</option>
                <option *ngFor="let co of coaches" [value]="co" [label]="co.firstName +' '+ co.lastName?.toUpperCase()"  ></option>
              </select>

            </div>


            <div class="row" *ngIf="typee.value == TypeMission.FORMATION">
              <div class="form-group col-6">
                <label for="price" class="col-form-label" >Prix : <span class="text-danger">*</span></label>
                <input id="price" [(ngModel)]="mission.price" #price="ngModel" name="price"
                       type="number" class="form-control" placeholder="Prix" required=""
                       [ngClass]="{'is-valid': price.touched && !price.errors?.required ,
                                 'is-invalid': price.touched && price.errors?.required}"
                >
                <div class="feedback-error" *ngIf="price.touched && price.errors?.required" >
                  Prix est obligatoire.
                </div>
              </div>
              <div class="form-group col-6">
                <label for="place" class="col-form-label" >Nombre de place : <span class="text-danger">*</span></label>
                <input id="place" [(ngModel)]="mission.nbrplace" #nbrplace="ngModel" name="nbrplace"
                       type="number" class="form-control" placeholder="Nombre de place" required=""
                       [ngClass]="{'is-valid': nbrplace.touched && !nbrplace.errors?.required ,
                                 'is-invalid': nbrplace.touched && nbrplace.errors?.required}"
                >
                <div class="feedback-error" *ngIf="nbrplace.touched && nbrplace.errors?.required" >
                  Nombre de place est obligatoire.
                </div>
              </div>
            </div>

            <div class="row" *ngIf="typee.value != TypeMission.PROTOTYPE">
              <div class="form-group col-6">
                <label for="db" class="col-form-label" >Date Début : <span class="text-danger">*</span></label>
                <input id="db" [(ngModel)]="mission.startDate" #db="ngModel" name="startDate"
                       type="date" class="form-control" placeholder="Date Début" required=""
                       [ngClass]="{'is-valid': db.touched && !db.errors?.required ,
                                 'is-invalid': db.touched && db.errors?.required}"
                >
                <div class="feedback-error" *ngIf="db.touched && db.errors?.required" >
                  Date Debut est obligatoire.
                </div>
              </div>
              <div class="form-group col-6">
                <label for="df" class="col-form-label" >Date Fin : <span class="text-danger">*</span></label>
                <input id="df" [(ngModel)]="mission.endDate" #df="ngModel" name="endDate"
                       type="date" class="form-control" placeholder="Date Fin" required=""
                       [ngClass]="{'is-valid': df.touched && !df.errors?.required ,
                                 'is-invalid': df.touched && df.errors?.required}"
                >
                <div class="feedback-error" *ngIf="df.touched && df.errors?.required" >
                  Date Fin est obligatoire.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label" >Détails Mission : <span class="text-danger">*</span></label>
              <div class="table-responsive-md mx-auto" >
              <ckeditor [editor]="Editor"  name="content"   [(ngModel)]="mission.content" class="mx-auto " size="100%"></ckeditor>
              </div>
            </div>




            <div class="form-group row ">

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <button class="btn btn-space btn-dark"  (click)="submite()"
                >Envoyer</button>
                <button class="btn btn-space btn-default" type="reset">Annuler</button>
              </div>
            </div>




          </form>

        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end form add  -->
    <!-- ============================================================== -->
  </div>


</div>
