/* You can add global styles to this file, and also import other style files */
.feedback-error{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.ck-editor__editable_inline {
  min-height: 300px;
  width: 100%;
}



